<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sesion 10</title>
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/estilo2.css')}} "
  />
  </head>
  <body>
    <header>
      <a href="{{ url_for('principal')}}" style="text-decoration: none;"><h1  id="uno"> 
      <img src="{{ url_for('static', filename='images/logo1.jpg') }}" alt="plataforma2" id="dos" > Plataforma E-commerce <br>Grupo 3</h1></a>
      

  </header>   
  <nav id="nueve">
    <a href="{{ url_for('principal')}}" class="nav_anlace">Inicio</a>
    <a href="{{ url_for('SeccionEmpleados')}}" class="nav_anlace">Seccion Empleados</a>
    <a href="{{ url_for('gestionarProductos')}}" class="nav_anlace">Gestionar Productos</a>
    <a href="{{ url_for('contacto')}}"class="nav_anlace">Contactenos</a>
  </nav>
  
    {% block contenido %}
    <h1> Contáctenos </h1>
    <form action="/contacto" method="POST" novalidate>
     {{ form.hidden_tag() }}
      <p>
        {{ form.nombre.label }}<br />
        {{ form.nombre }}<br/>
      </p>

      <p>
        {{ form.correo.label }}<br />
        {{ form.correo }}<br/>
      </p>

      <p>
        {{ form.mensaje.label }}<br />
        {{ form.mensaje }}<br/>
      </p>
      <p>{{ form.enviar}}</p>
    </form>
    {% endblock %}
  </body>
</html>